@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

li {
  list-style: none;
}

a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #DCAE59;
}

img {
  width: 100%;
  display: block;
}

svg {
  display: block;
}

.container {
  padding-left: calc(50% - 695px);
  padding-right: calc(50% - 695px);
}

.links {
  text-decoration: underline;
}

.icon-wrapper {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 25px;
  background: transparent;
  border: 1px solid #333333;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #333333;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
  background: #333333;
}

.notification__message {
  color: white;
  width: 315px;
  padding: 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-align: center;
  pointer-events: none;
}

.notification__container {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.nav__desktop {
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100%;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__desktop-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 12px;
}

.nav__desktop.show__navbar {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.nav__desktop-item.active-item .nav__desktop-link {
  font-weight: 600;
}

.nav__desktop-link {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav__desktop-icon:hover > svg > line {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke: #DCAE59;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topmenu-item:not(:last-child) {
  margin-right: 24px;
}

.topmenu-item:hover > .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu {
  position: absolute;
  position: absolute;
  top: 48px;
  background-color: white;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.submenu-item:not(:last-child) {
  margin-bottom: 25px;
}

.mobile__menu,
.nav__mobile {
  display: none;
}

.nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__mobile.show-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__mobile-wrapper {
  position: relative;
  padding: 18px 20px 43px 30px;
}

.nav__mobile-close {
  position: absolute;
  top: 18px;
  right: 20px;
}

.nav__mobile-content {
  margin-top: 66px;
}

.nav__mobile-item {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav__mobile-item.active {
  font-weight: bold;
}

.nav__mobile-item:not(:last-child) {
  margin-bottom: 30px;
}

header {
  position: relative;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 15px;
}

.header__nav {
  width: 120px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-icon:hover * {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke: #DCAE59;
}

.product-cart {
  margin-top: 26px;
  margin-bottom: 32px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.product-cart__photo {
  position: relative;
}

.product-cart__slider {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
}

.product-cart__slider-slide {
  position: relative;
  cursor: pointer;
}

.product-cart__slider-slide:not(:last-child) {
  margin-bottom: 7px;
}

.product-cart__slider-slide:hover .product-cart__slider-overlay {
  opacity: 0;
}

.product-cart__slider-slide.active-slide .product-cart__slider-overlay {
  opacity: 0;
}

.product-cart__slider-img {
  position: relative;
  width: 70px;
}

.product-cart__slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.3;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product-cart__top {
  margin-top: 28px;
  margin-left: 20px;
  margin-bottom: 29px;
}

.product-cart__header {
  margin-bottom: 46px;
}

.product-cart__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}

.product-cart__article {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #828282;
  margin-bottom: 18px;
}

.product-cart__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-cart__review-title {
  margin-right: 12px;
}

.product-cart__review-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
}

.product-cart__review-rating span {
  background-image: url(../images/icons/star_empty.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: block;
}

.product-cart__review-rating span.active {
  background-image: url(../images/icons/star_full.svg);
}

.product-cart__review-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-cart__price-block {
  margin-bottom: 34px;
}

.product-cart__notes-block {
  margin-top: 24px;
  margin-left: 20px;
}

.product-cart__line {
  border-width: 0;
  border-bottom: 1px solid #c4c4c4;
}

.price-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.price-block__finale-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 12px;
}

.price-block__prew-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #828282;
  margin-right: 12px;
}

.bonuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bonuses-btn {
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px;
  border: 1px solid #333333;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bonuses-btn:hover {
  background-color: #333333;
  color: white;
}

.bonuses-btn:not(:last-child) {
  margin-right: 9px;
}

.parameters__sizes-wrapper {
  margin-bottom: 40px;
}

.parameters__select {
  position: relative;
  height: 43px;
  color: #333333;
  padding: 12px 16px;
  margin-bottom: 12px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #333333;
  font-family: Open Sans;
  font-size: 14px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.parameters__select__wrapper {
  position: relative;
  width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parameters__select:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 8px;
  background: url("../images/icons/arrow_down.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.parameters__select.open-select.parameters__select:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.parameters__select.open-select + .parameters__select-list {
  display: block;
}

.parameters__select-list {
  display: none;
  position: absolute;
  top: 43px;
  max-height: 150px;
  overflow: auto;
  width: 100%;
  z-index: 10;
  background-color: #F2F2F2;
  border: 1px solid #333333;
  border-top-color: #F2F2F2;
}

.parameters__select-item {
  padding: 8px;
  cursor: pointer;
}

.parameters__select-item:hover {
  background-color: #ccc;
}

.parameters__order-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.order__count-wrapper {
  width: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F2F2F2;
  margin-right: 12px;
}

.order__count-input {
  text-align: center;
  border: none;
  background: none;
  outline: none;
  pointer-events: none;
}

.order__count-input::-webkit-outer-spin-button, .order__count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order__count-btn {
  padding: 12px 20px;
  cursor: pointer;
}

.order__count-btn:hover {
  background-color: #b9b9b9;
}

.order__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__buy > :not(:last-child) {
  margin-right: 4px;
}

.order__btn {
  background-color: #333333;
  border: 1px solid #333333;
  color: white;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.order__btn:hover {
  background-color: #F2F2F2;
  color: #333333;
}

.order__btn:hover svg path {
  stroke: red;
  fill: red;
}

.order__btn.add__favorite svg path {
  stroke: red;
  fill: red;
}

.order__btn-basket {
  padding: 11px 28px;
}

.order__btn-favorite {
  padding: 9px;
}

.notes__content {
  margin-left: 20px;
}

.notes__item {
  margin-bottom: 12px;
}

.notes__item:last-child {
  margin-bottom: 0;
}

.notes__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes__icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.catalog-products {
  margin-bottom: 100px;
}

.catalog-products__title {
  text-align: center;
  margin-bottom: 32px;
}

.catalog-products__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.catalog-products__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.product__item {
  position: relative;
}

.product__item-text {
  color: #fff;
}

.product__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #333333;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product__item-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: inherit;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product__item-icon {
  position: absolute;
  cursor: pointer;
}

.product__item-icon__full {
  top: 12px;
  right: 12px;
}

.product__item-icon__bag {
  width: 48px;
  height: 48px;
}

.product__item-icon__bag svg path {
  stroke: white;
}

.product__item-icon__favorite {
  margin-right: 2px;
}

.product__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__item-content:hover .product__item-text {
  color: #DCAE59;
}

.product__item-content:hover .product__item-icon__bag svg path {
  stroke: #DCAE59;
}

.product__item-bottom {
  position: absolute;
  bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.product__item:hover .product__item-wrapper {
  opacity: 1;
}

.product__item:hover .product__item-overlay {
  opacity: 0.7;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 117px;
  padding-top: 12px;
  padding-bottom: 70px;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 335px 335px;
      grid-template-columns: 335px 335px;
  grid-column-gap: 16px;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__form {
  width: 452px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__form-header {
  width: inherit;
  margin-bottom: 41px;
}

.footer__form-title {
  margin-bottom: 0;
}

.footer__form-wrapper {
  position: relative;
  width: inherit;
  margin-bottom: 35px;
}

.footer__form-input {
  width: inherit;
  font-family: Open Sans;
  font-size: 14px;
  color: #828282;
  padding: 12px 16px;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  outline: none;
}

.footer__form-input.error {
  color: #e52727;
  border: 2px solid #e52727;
}

.footer__form-input.success {
  color: #828282;
  border: 2px solid #27e540;
}

.footer__form-message {
  position: absolute;
  left: 60px;
  color: red;
  font-weight: 600;
  font-size: 13px;
}

.footer__form-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.footer__form-icon path {
  stroke: #C4C4C4;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__form-icon:hover path {
  stroke: #DCAE59;
}

@media screen and (max-width: 1389px) {
  .catalog-products__content {
    grid-column-gap: 0;
    -ms-grid-columns: 686px;
        grid-template-columns: 686px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-products__left {
    margin-bottom: 16px;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1140px) {
  .header {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .container {
    padding-left: calc(50% - 343px);
    padding-right: calc(50% - 343px);
  }
  .product-cart {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-column-gap: 0;
    justify-items: center;
  }
  .footer__nav {
    margin-bottom: 58px;
  }
  .footer-title {
    width: 270px;
  }
  .footer-header {
    width: inherit;
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 685px) {
  .catalog-products {
    margin-bottom: 30px;
  }
  .catalog-products__content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .catalog-products__left {
    margin-bottom: 8px;
  }
  .catalog-products__right {
    grid-gap: 8px;
  }
  .footer__nav {
    -ms-grid-columns: 200px 200px;
        grid-template-columns: 200px 200px;
    grid-column-gap: 8px;
  }
  .footer__form {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  main.container {
    padding: 0;
  }
  .container {
    padding-left: calc(50% - 192px);
    padding-right: calc(50% - 192px);
  }
  .nav__desktop {
    display: none;
  }
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    width: 168px;
  }
  .nav__mobile {
    display: block;
  }
  .product-cart {
    margin-top: 0;
    margin-bottom: 58px;
  }
  .product-cart__slider-slide:not(:last-child) {
    margin-bottom: 4px;
  }
  .product-cart__slider-img {
    width: 40px;
  }
  .product-cart__top {
    margin-top: 24px;
  }
  .order__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 10px;
  }
  .order__count-wrapper {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .footer__nav {
    -ms-grid-columns: 163px 163px;
        grid-template-columns: 163px 163px;
  }
  .footer__form {
    width: 340px;
  }
  .footer__form-title {
    width: 274px;
  }
  .footer__form-message {
    left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding-left: calc(50% - 167px);
    padding-right: calc(50% - 167px);
  }
  .parameters__select__wrapper {
    width: 276px;
  }
  .footer__nav {
    -ms-grid-columns: 130px 130px;
        grid-template-columns: 130px 130px;
    grid-column-gap: 16px;
  }
  .footer__form {
    width: 276px;
  }
}
/*# sourceMappingURL=style.css.map */