.catalog-products {
  margin-bottom: 100px;

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

.product__item {
  position: relative;

  &-text {
    color: #fff;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100%;
    width: 100%;

    background: $color-black;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  &-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: inherit;

    transition: all .3s ease-in-out;
  }

  &-icon {
    position: absolute;
    cursor: pointer;

    &__full {
      top: 12px;
      right: 12px;
    }

    &__bag {
      width: 48px;
      height: 48px;

      & svg path {
        stroke: white;
      }
    }

    &__favorite {
      margin-right: 2px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .product__item-text {
      color: $color-yellow;
    }

    &:hover .product__item-icon__bag svg path {
      stroke: $color-yellow;
    }
  }

  &-bottom {
    position: absolute;
    bottom: 16px;

    display: flex;
    align-items: center;

    pointer-events: none;
  }

  &:hover &-wrapper {
    opacity: 1;
  }

  &:hover &-overlay {
    opacity: 0.7;
  }
}