.footer {
  display: flex;
  justify-content: space-between;

  margin: 0 117px;

  padding-top: 12px;
  padding-bottom: 70px;

  &__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 16px;
  }

  &__nav {
    display: grid;
    grid-template-columns: 335px 335px;
    grid-column-gap: 16px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__form {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-header {
      width: inherit;
      margin-bottom: 41px;
    }

    &-title {
      margin-bottom: 0;
    }

    &-wrapper {
      position: relative;
      width: inherit;
      margin-bottom: 35px;
    }

    &-input {
      width: inherit;

      font-family: Open Sans;
      font-size: 14px;

      color: #828282;

      padding: 12px 16px;
      border: none;
      border-bottom: 1px solid #C4C4C4;
      outline: none;

      &.error {
        color: #e52727;
        border: 2px solid #e52727;
      }

      &.success {
        color: #828282;
        border: 2px solid #27e540;
      }
    }

    &-message {
      position: absolute;
      bottom: 6px;
      left: 60px;
      color: red;
      font-weight: 600;
      font-size: 13px;
    }

    &-icon {
      position: absolute;
      top: 10px;
      right: 10px;

      cursor: pointer;

      & path {
        stroke: #C4C4C4;
        transition: all .3s ease-in-out;
      }

      &:hover path {
        stroke: $color-yellow;
      }
    }
  }
}