header {
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 18px;
  padding-bottom: 18px;

  margin: 0 15px;

  &__nav {
    width: 120px;

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-icon {
      &:hover * {
        transition: all 0.3s ease-in-out;
        stroke: $color-yellow;
      }
    }
  }
}
