@media screen and (max-width: 1389px) {

  .catalog-products {
    &__content {
      grid-column-gap: 0;
      grid-template-columns: 686px;
      justify-content: center;
    }

    &__left {
      margin-bottom: 16px;
    }
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;

    margin: 0px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1140px) {
  header {
    padding-top: 18px;
    padding-bottom: 24px;
  }

  .container {
    padding-left: calc(50% - 343px);
    padding-right: calc(50% - 343px);
  }

  .product-cart {
    grid-template-columns: auto;
    grid-column-gap: 0;
    justify-items: center;
  }

  .footer {
    &__nav {
      margin-bottom: 58px;
    }

    &-title {
      width: 270px;
    }

    &-header {
      width: inherit;
      margin-bottom: 29px;
    }
  }
}

@media screen and (max-width: 685px) {

  .catalog-products {
    margin-bottom: 30px;

    &__content {
      grid-template-columns: auto;
    }

    &__left {
      margin-bottom: 8px;
    }

    &__right {
      grid-column-gap: 8px;
    }
  }

  .footer {
    &__nav {
      grid-template-columns: 200px 200px;
      grid-column-gap: 8px;
    }

    &__form {
      width: 400px;
    }
  }
}

@media screen and (max-width: 425px) {

  main.container {
    padding: 0;
  }

  .container {
    padding-left: calc(50% - 192px);
    padding-right: calc(50% - 192px);
  }

  .nav__desktop {
    display: none;
  }

  .mobile__menu {
    display: flex;
  }

  .header__nav {
    width: 168px;
  }

  .nav__mobile {
    display: block;
  }

  .product-cart {
    margin-top: 0;
    margin-bottom: 58px;

    &__slider {
      &-slide:not(:last-child) {
        margin-bottom: 4px;
      }

      &-img {
        width: 40px;
      }
    }

    &__top {
      margin-top: 24px;
    }
  }

  .order {
    &__content {
      flex-wrap: wrap;
      margin-right: 10px;
    }

    &__count-wrapper {
      margin-right: 0px;
      margin-bottom: 15px;
    }
  }

  .footer {

    &__nav {
      grid-template-columns: 163px 163px;
    }

    &__form {
      width: 340px;

      &-title {
        width: 274px;
      }

      &-message {
        left: 10px;
      }
    }
  }
}

@media screen and (max-width: 375px) {

  .container {
    padding-left: calc(50% - 167px);
    padding-right: calc(50% - 167px);
  }

  .parameters__select__wrapper {
    width: 276px;
  }

  .footer {
    &__nav {
      grid-template-columns: 130px 130px;
      grid-column-gap: 16px;
    }

    &__form {
      width: 276px;
    }
  }
}