.price-block {
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }

  &__finale-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 12px;
  }

  &__prew-price {
    text-decoration-line: line-through;
    color: #828282;
    margin-right: 12px;
  }
}

.bonuses {
  display: flex;

  &-btn {
    font-size: 12px;
    line-height: 16px;

    padding: 4px 8px;
    border: 1px solid $color-black;
    background: transparent;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $color-black;
      color: white;
    }

    &:not(:last-child) {
      margin-right: 9px;
    }
  }
}