.product-cart {
  margin-top: 26px;
  margin-bottom: 32px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__photo {
    position: relative;
    margin-right: 16px;
  }

  &__slider {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;

    &-slide {
      position: relative;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      &:hover .product-cart__slider-overlay {
        opacity: 0;
      }
    }

    &-img {
      position: relative;
      width: 70px;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      background: white;
      opacity: 0;
      transition: all .3s ease-in-out;

      &:not(.active-slide) {
        opacity: 0.3;
      }
    }
  }

  &__info {
    margin-top: 28px;
  }

  &__header {
    margin-left: 20px;
    margin-bottom: 44px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__article {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #828282;
    margin-bottom: 18px;
  }

  &__review {
    display: flex;
    align-items: center;

    &-title {
      margin-right: 12px;
    }

    &-rating {
      display: flex;
      margin-right: 4px;

      & span {
        background-image: url(../images/icons/star_empty.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: block;

        &.active {
          background-image: url(../images/icons/star_full.svg);
        }
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
    }
  }

  &__price-block {
    margin-left: 20px;
    margin-bottom: 34px;
  }

  &__parameters-block {
    padding-bottom: 34px;
    border-bottom: 1px solid #c4c4c4;
  }

  &__notes-block {
    margin-top: 24px;
  }
}